# TODO: flesh this out for real, this is a stub.
DocumentRoot "{{ documentRoot }}"
<Directory "{{ documentRoot }}">
    Options FollowSymLinks Multiviews
    MultiviewsMatch Any
    AllowOverride None
    Require all granted
</Directory>
